Data/
Code/AliElrouby/Model1/Model1_Paper4models_image_processed
Code/AliElrouby/Model1/Model1_Paper4models_image_processed_more_features
Code/AliElrouby/Model1/Model1_Paper4models_image_processed_more_features_Background_replacement
Code/AliElrouby/Model1/Model1_Paper4models_image_processed_more_features_Background_replacement_finetune
Code/AliElrouby/Model1/REPORTS
Code/AliElrouby/Model2/REPORTS
Code/AliElrouby/EDA/images
Code/AliElrouby/Model3/Model3_Paper1_capsnet_binary_tabular_injected
Code/AliElrouby/Model3/Model3_Paper1_capsnet_binary_tabular_injected_improved
Code/AliElrouby/Model3/Model3_Paper1_capsnet_DR_ICDR_5class_tabular_injected_improved